.gitconfig
*.sdf
*.suo
*.so
*.opensdf
*.db
*.lib
*.dll
*.pdb
*.log
*.DS_Store
/libs/
/bin/
/obj/
/builds/
*/packages/
/.metadata/
/RemoteSystemsTempFiles/
*.config
*.opendb
*.o
*.d
*.vspx
*.psess
*.vim*
.bash_history
@
*.tar.gz
*.pyc
/stacktrace/
